@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
}

label {
  font-size: 0.9rem;
}

input {
  display: block;
  padding: 0.5rem;
  min-width: 250px;
  border-radius: 0.25rem;
  border: 2px solid #ccc;
}

input:focus {
  border-color: dodgerblue;
  outline: none;
}

button {
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  border: 2px solid #333;
  background: none;
}

button:hover {
  background-color: #ccc;
  cursor: pointer;
}

.success {
  color: #40c940;
}
.error {
  color: #ca1515;
}

.pb-xs {
  padding-bottom: 0.25rem;
}
.pb-s {
  padding-bottom: 0.5rem;
}
.pb-m {
  padding-bottom: 1rem;
}

.mb-xs {
  margin-bottom: 0.25rem;
}
.mb-s {
  margin-bottom: 0.5rem;
}
.mb-m {
  margin-bottom: 1rem;
}
.mt-s {
  margin-top: 0.5rem;
}
.my-s {
  margin: 0.5rem auto;
}
